@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@layer utilities{
    .font-sys{
        font-family: 'Rubik', sans-serif;
    }
    .stomp{
        animation: stomp 0.3s linear;
    }
    @keyframes stomp {
        from{
            transform: scale(7);
        }
        to{
            transform: scale(1);
        }
    }
    .involve{
        animation: involve 1.5s infinite;
    }
    @keyframes involve{
        0% {
            transform: translateX(-10px);
        }
        50% {
            transform: translateX(10px);
        }
        100%{
            transform: translateX(-10px);
        }
    }
    .form-in{
        @apply border-2 border-gray-400 rounded-xl p-2 focus:outline-gray-600 w-full;
    }
    .unsatisfied{
        @apply text-red-400;
    }
    .satisfied{
        @apply dark:text-green-400 text-black;
    }
    .hide {
        @apply opacity-0;
    }
    .show {
        @apply opacity-100;
    }
}