<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Authentication || Egg Labs</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
</head>
<body class="p-5">
    <div class="flex flex-row justify-between"> <!--NAVBAR-->
        <div>
            <h1 class="text-3xl font-sys font-bold">Egg Labs</h1>
        </div>
        <div class="flex flex-row gap-5 font-bold ">
            <a class="text-2xl underline decoration-wavy underline-offset-2 hover:underline-offset-4 ease-in-out duration-400 hover:text-3xl" href="wwww.youtube.com">About Us</a>
            <a class="text-2xl underline decoration-wavy underline-offset-2 hover:underline-offset-4 ease-in-out duration-400 hover:text-3xl" href="wwww.youtube.com">Catalogue</a>
            <a class="text-2xl underline decoration-wavy underline-offset-2 hover:underline-offset-4 ease-in-out duration-400 hover:text-3xl" href="wwww.youtube.com">FAQ</a>
        </div>
    </div>
    <div class="flex flex-col justify-center items-center w-200 h-auto p-5 bg-gray-200 border-4 border-gray-300 rounded-2xl ml-auto mr-auto mt-80">
        <p class="text-3xl font-bold">Sign up</p>
        <hr class="mt-5 mb-4 border-2 border-gray-400 w-full">
        <form class="text-xl flex flex-col w-75">
            <label for="mail">Email ID</label>
            <input type="email" name="mail" placeholder="abcde@egg.labs" class="form-in">
            <br>
            <label for="name">Name (first and last)</label>
            <input type="text" name="name" placeholder="Eggy" class="form-in" id="realName">
            <br>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="egglabs_admin" class="form-in" id="user">
            <ol class="list-inside list-disc overflow-clip mt-2">
                <li class="unsatisfied" id="uReq1">Be at least 8 characters</li>
                <li class="unsatisfied" id="uReq2">Not include any of the following symbols: & * , ! @ # $ % ^ ( )</li>
                <li class="unsatisfied" id="uReq3">Does not include parts of your name, address, or other sensitive info.</li>
            </ol>
            <br>
            <label for="pwd">Password</label>
            <input type="password" name="pwd" placeholder="******" class="form-in">
            <ol class="list-inside list-disc overflow-clip mt-2">
                <li class="unsatisfied">Be at least 8 characters</li>
                <li class="unsatisfied">Have at least 1 uppercase and 1 lowercase letter</li>
                <li class="unsatisfied">Have at least 1 symbol</li>
                <li class="unsatisfied">Shoukd not include parts of your name, address, or other sensitive info</li>
            </ol>
        </form>
    </div>
    <script>
        const username = document.getElementById("user");
        const realName = document.getElementById("realName");
        const uReq1 = document.getElementById("uReq1");
        const uReq2 = document.getElementById("uReq2");
        const uReq3 = document.getElementById("uReq3");
        username.addEventListener("input", ()=>{
            checkUsername()
        })
        realName.addEventListener("input", ()=>{
            checkUsername()
        })
        function checkUsername(){
            const usernameVal = username.value.toLowerCase();
            const nameVal = realName.value.toLowerCase();
            const nameWords = nameVal.split(/\s+/);
            const hasNameWord = nameWords.some(word => usernameVal.includes(word));
            if (nameVal && usernameVal){
                if (!hasNameWord){
                    uReq3.classList.remove("unsatisfied");
                    uReq3.classList.add("satisfied");
                }
                else {
                    uReq3.classList.add("unsatisfied");
                    uReq3.classList.remove("satisfied");
                }
                const symbols = ["&", "*", "!", "@", "#", "%", "^", "(", ")"];
                if (symbols.some(sym => usernameVal.includes(sym))) {
                    uReq2.classList.add("unsatisfied");
                    uReq2.classList.remove("satisfied"); 
                }
                else {
                    uReq2.classList.remove("unsatisfied");
                    uReq2.classList.add("satisfied");
                }
                const usernameLen = usernameVal.length;
                if (usernameLen >= 8) {
                    uReq1.classList.add("satisfied");
                    uReq1.classList.remove("unsatisfied");
                }
                else {
                    uReq1.classList.remove("satisfied");
                    uReq1.classList.add("unsatisfied");
                }
            }
        }
        
    </script>
</body>
</html>