<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egg Labs</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/output.css')}}">
</head>
<body class="p-5">
    <div class="flex flex-row justify-between"> <!--NAVBAR-->
        <div>
            <h1 class="text-3xl font-sys font-bold">First Free Catalogue of Tools</h1>
        </div>
        <div class="flex flex-row gap-5 font-bold ">
            <a class="text-2xl underline decoration-wavy underline-offset-2 hover:underline-offset-4 ease-in-out duration-400 hover:text-3xl" href="wwww.youtube.com">About Us</a>
            <a class="text-2xl underline decoration-wavy underline-offset-2 hover:underline-offset-4 ease-in-out duration-400 hover:text-3xl" href="wwww.youtube.com">Catalogue</a>
            <a class="text-2xl underline decoration-wavy underline-offset-2 hover:underline-offset-4 ease-in-out duration-400 hover:text-3xl" href="wwww.youtube.com">FAQ</a>
        </div>
    </div>
    <div class="w-full4 flex flex-col justify-center items-center border-red-300 mt-50">
        <div class=" text-center">
            <h1 class="text-6xl font-bold">🐣</h1>
            <h1 class="text-6xl font-bold">Egg Labs</h1>
        </div>
        <p class="mt-10 text-4xl font-bold text-center">Your basket of free <span class="line-through">tools</span> eggs</p>
        <div class="font-bold text-white bg-black w-auto h-auto p-5 flex flex-row gap-2 items-center justify-center rounded-2xl mt-10 involve" onclick="authRedirect()">
            <p class="text-xl">Sign Up</p>
        </div>
    </div>
    <script>
        function authRedirect(){
            window.location.href = "{{url_for('account')}}";
        }
    </script>
</body>
</html>